.sorry
  font-family: Comic Sans MS
  margin-top: 20ex
  padding: 0 5em
  font-size: 20pt
  border: 3px solid green
  border-radius: 50pt

.push
  margin-top: 20ex
  text-align: center
  button
    font-size: 20pt
    font-family: Comic Sans MS
    background: green
    color: white
    border: 4px solid lightgreen
    padding: 3ex
    border-radius: 6ex

.desk
  width: 754px

.shakal-bar
  .bar-player
    display: inline-block
    text-align: center
    box-sizing: border-box
    padding: 15px 0
    margin-right: 50px
    width: 80px
    height: 50px
    border-radius: 50%
    color: white
    font-weight: bold
  .result
    display: inline-block
    width: 80px
    margin: 10px
    color: white
    text-align: center
    opacity: 0.4
  .player-0
    background-color: red
  .player-1
    background-color: blue
  .player-2
    background-color: green
  .player-3
    background-color: violet
