.chip
  box-sizing: border-box
  display: inline-block
  width: 20px
  height: 20px
  border-radius: 50%
  background: black
  &::before
    content: attr(data-level)
    margin: 5px
    color: white
  &.type-ship
    border-radius: 0
  &.owner-0
    background: red
  &.owner-1
    background: blue
  &.owner-2
    background: green
  &.owner-3
    background: violet
  &.selected
    border: 2px solid black
  &.type-coin
    background: gold
  &.sinked
    display: none
  &.type-friday
    &.owner-0
      background: linear-gradient(45deg, red, black 50%)
    &.owner-1
      background: linear-gradient(45deg, blue 50%, black 50%)
    &.owner-2
      background: linear-gradient(45deg, green 50%, black 50%)
    &.owner-3
      background: linear-gradient(45deg, violet 50%, black 50%)
  &.type-donkey
    &.owner-0
      background: linear-gradient(135deg, red 33%, black 33%, black 66%, red 66%)
    &.owner-1
      background: linear-gradient(135deg, blue 33%, black 33%, black 66%, blue 66%)
    &.owner-2
      background: linear-gradient(135deg, green 33%, black 33%, black 66%, green 66%)
    &.owner-3
      background: linear-gradient(135deg, violet 33%, black 33%, black 66%, violet 66%)
